.subscribe-newsletter-section {
  background: #000000;
  position: relative; }
  @media screen and (max-width: 768px) {
    .subscribe-newsletter-section {
      padding-bottom: 0; } }
  .subscribe-newsletter-section .mask-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .subscribe-newsletter-section .iPhone-img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3; }
    @media screen and (max-width: 768px) {
      .subscribe-newsletter-section .iPhone-img-wrapper {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .subscribe-newsletter-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-title {
        font-size: 36px; } }
  .subscribe-newsletter-section .section-sub-title {
    margin-top: 60px;
    font-family: "SF Pro Display";
    font-size: 20px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-sub-title {
        margin-top: 30px;
        font-size: 18px; } }
  .subscribe-newsletter-section .container {
    z-index: 4;
    position: relative; }
  .subscribe-newsletter-section .input-wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .input-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .subscribe-newsletter-section .input-wrapper input {
      padding: 19px 30px;
      border: 1px solid #ffffff;
      background: none;
      font-family: "SF Pro Display";
      font-size: 17px;
      color: #ffffff;
      font-weight: 600;
      width: 100%;
      max-width: 500px;
      outline: none;
      min-height: 60px; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 100%; } }
    .subscribe-newsletter-section .input-wrapper button {
      right: 1px;
      position: relative;
      min-height: 60px;
      width: 100%;
      max-width: 356px;
      padding: 18px;
      border: 1px solid #fe8732;
      background: #fe8732;
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #ffffff;
      font-weight: 600; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 100%;
          margin-top: 30px; } }

.footer {
  padding: 82px 0;
  background: #0c0c0d; }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 40px 0; } }
  .footer .container {
    display: grid;
    grid-template-areas: "logo-block catalog-block services-block contacts-block social-networks-block" "logo-block catalog-block services-block timetable-block social-networks-block";
    grid-template-columns: 20% 15% 20% 20% 20%;
    grid-template-rows: -webkit-max-content max-content -webkit-max-content max-content -webkit-max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .footer .container {
        grid-template-areas: "logo-block catalog-block services-block" "contacts-block catalog-block services-block" "social-networks-block timetable-block timetable-block";
        grid-template-columns: 40% 25% 35%; } }
    @media screen and (max-width: 480px) {
      .footer .container {
        grid-template-areas: "logo-block" "catalog-block" "services-block" "contacts-block" "timetable-block" "social-networks-block";
        grid-template-columns: 100%;
        justify-items: center; } }
  .footer .logo-block {
    grid-area: logo-block;
    max-width: 200px; }
    @media screen and (max-width: 480px) {
      .footer .logo-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .logo-block .logo-description {
          display: none; } }
  .footer .catalog-block {
    grid-area: catalog-block; }
  .footer .services-block {
    grid-area: services-block; }
  .footer .contacts-block {
    grid-area: contacts-block; }
  .footer .timetable-block {
    grid-area: timetable-block; }
    @media screen and (max-width: 768px) {
      .footer .timetable-block {
        margin-top: 30px; } }
  .footer .social-networks-block {
    grid-area: social-networks-block; }
    @media screen and (max-width: 768px) {
      .footer .social-networks-block {
        margin-top: 30px; } }
    .footer .social-networks-block .logo-description {
      display: none; }
    @media screen and (max-width: 480px) {
      .footer .social-networks-block .logo-description {
        display: block;
        max-width: 200px; } }
  .footer .footer-block {
    padding-right: 10px; }
    @media screen and (max-width: 480px) {
      .footer .footer-block {
        text-align: center;
        padding-right: 0; }
        .footer .footer-block:nth-child(n + 2) {
          margin-top: 30px; }
        .footer .footer-block:nth-child(n + 3) {
          margin-top: 36px; } }
    .footer .footer-block .title {
      font-family: "SF Pro Display";
      font-size: 18px;
      color: #ffffff;
      font-weight: 600; }
    .footer .footer-block .logo-description {
      margin-top: 30px;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      font-weight: normal; }
    .footer .footer-block .footer-list {
      margin-top: 20px; }
      .footer .footer-block .footer-list .list-item {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #ffffff;
        font-weight: normal; }
        .footer .footer-block .footer-list .list-item a {
          font-family: "SF Pro Display";
          font-size: 16px;
          color: #ffffff;
          font-weight: normal; }
        .footer .footer-block .footer-list .list-item:nth-child(n + 2) {
          margin-top: 12px; }
      .footer .footer-block .footer-list.social-networks-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media screen and (max-width: 480px) {
          .footer .footer-block .footer-list.social-networks-list {
            max-width: 140px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 30px auto; } }
        .footer .footer-block .footer-list.social-networks-list .list-item {
          margin-top: 0;
          margin-right: 28px;
          min-width: 25px; }
          @media screen and (max-width: 480px) {
            .footer .footer-block .footer-list.social-networks-list .list-item {
              margin-right: 0px; } }

.shop-info-section {
  background: #ffffff;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px); }
  .shop-info-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #0c0c0d;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .shop-info-section .section-title {
        font-size: 40px; } }
  .shop-info-section .description {
    display: grid;
    grid-template-areas: "online-shop-info shop-img-wrapper" "service-center-info shop-img-wrapper";
    grid-template-columns: 50% 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 890px) {
      .shop-info-section .description {
        grid-template-areas: "online-shop-info online-shop-info" "shop-img-wrapper shop-img-wrapper" "service-center-info service-center-info"; } }
    .shop-info-section .description .online-shop-info {
      grid-area: online-shop-info;
      margin-right: 65px; }
      @media screen and (max-width: 890px) {
        .shop-info-section .description .online-shop-info {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .shop-info-section .description .timetable-block {
        margin-top: 20px; } }
    .shop-info-section .description .service-center-info {
      grid-area: service-center-info;
      margin-right: 65px;
      margin-top: 120px; }
      @media screen and (max-width: 890px) {
        .shop-info-section .description .service-center-info {
          margin-right: 0;
          margin-top: 60px; }
          .shop-info-section .description .service-center-info .info-wrapper .timetable-block .timetable-item-wrapper {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; } }
      @media screen and (max-width: 480px) {
        .shop-info-section .description .service-center-info .info-wrapper .timetable-block .timetable-item-wrapper {
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .shop-info-section .description .service-center-info .info-wrapper .timetable-block .timetable-item-wrapper .timetable {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            .shop-info-section .description .service-center-info .info-wrapper .timetable-block .timetable-item-wrapper .timetable .timetable-item:nth-child(n + 2) {
              margin-top: 0;
              margin-left: 25px; } }
    .shop-info-section .description .shop-img-wrapper {
      grid-area: shop-img-wrapper; }
      @media screen and (max-width: 890px) {
        .shop-info-section .description .shop-img-wrapper {
          margin-top: 60px; }
          .shop-info-section .description .shop-img-wrapper img {
            width: 100%; } }
    .shop-info-section .description .info-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 60px; }
      @media screen and (max-width: 890px) {
        .shop-info-section .description .info-wrapper {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
      @media screen and (max-width: 480px) {
        .shop-info-section .description .info-wrapper {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .shop-info-section .description .info-wrapper .title {
        min-height: 20px;
        white-space: nowrap;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: rgba(12, 12, 13, 0.5);
        font-weight: normal; }
        @media screen and (max-width: 480px) {
          .shop-info-section .description .info-wrapper .title {
            min-height: auto; } }
      .shop-info-section .description .info-wrapper .email-block {
        padding: 0 10px; }
        @media screen and (max-width: 890px) {
          .shop-info-section .description .info-wrapper .email-block {
            padding: 0 28px; } }
        @media screen and (max-width: 480px) {
          .shop-info-section .description .info-wrapper .email-block {
            padding: 0 0; } }
      @media screen and (max-width: 480px) {
        .shop-info-section .description .info-wrapper .phones-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .shop-info-section .description .info-wrapper .phones-block .title {
            margin-left: 10px; }
          .shop-info-section .description .info-wrapper .phones-block .info-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .shop-info-section .description .info-wrapper .phones-block .info-item:nth-child(2) {
              margin-top: 0;
              -webkit-box-ordinal-group: 0;
                  -ms-flex-order: -1;
                      order: -1; }
            .shop-info-section .description .info-wrapper .phones-block .info-item:nth-child(n + 3) {
              width: 100%; } }
      .shop-info-section .description .info-wrapper .service-phone-block {
        padding: 0 10px; }
        @media screen and (max-width: 890px) {
          .shop-info-section .description .info-wrapper .service-phone-block {
            padding: 0 38px; } }
        @media screen and (max-width: 480px) {
          .shop-info-section .description .info-wrapper .service-phone-block {
            padding: 0 0; } }
      .shop-info-section .description .info-wrapper .info-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .shop-info-section .description .info-wrapper .info-item:nth-child(2) {
          margin-top: 20px; }
        .shop-info-section .description .info-wrapper .info-item:nth-child(n + 3) {
          margin-top: 30px; }
        .shop-info-section .description .info-wrapper .info-item .icon-wrapper {
          margin-right: 15px; }
          .shop-info-section .description .info-wrapper .info-item .icon-wrapper img {
            min-width: 26px; }
        .shop-info-section .description .info-wrapper .info-item .text {
          font-family: "SF Pro Display";
          font-size: 16px;
          color: #0c0c0d;
          font-weight: normal; }
          .shop-info-section .description .info-wrapper .info-item .text.timetable .timetable-item:nth-child(n + 2) {
            margin-top: 12px; }

.shops-section {
  background: #000000; }
  .shops-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .shops-section .section-title {
        font-size: 40px; } }
  .shops-section .shops-wrapper {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 890px) {
      .shops-section .shops-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media screen and (max-width: 480px) {
      .shops-section .shops-wrapper {
        margin-top: 50px; } }
    .shops-section .shops-wrapper .shop-item-wrapper {
      position: relative; }
      .shops-section .shops-wrapper .shop-item-wrapper .content {
        position: relative; }
        .shops-section .shops-wrapper .shop-item-wrapper .content:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(22, 22, 25, 0.68); }
        .shops-section .shops-wrapper .shop-item-wrapper .content img {
          width: 100%; }
      .shops-section .shops-wrapper .shop-item-wrapper:first-child {
        margin-right: 15px; }
      .shops-section .shops-wrapper .shop-item-wrapper:nth-child(n + 2) {
        margin: 0 15px; }
      .shops-section .shops-wrapper .shop-item-wrapper:last-child {
        margin-right: 0; }
      .shops-section .shops-wrapper .shop-item-wrapper .shop-item-label-wrapper {
        position: absolute;
        z-index: 2;
        text-align: center; }
        .shops-section .shops-wrapper .shop-item-wrapper .shop-item-label-wrapper.center-label {
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          font-family: "SF Pro Display";
          font-size: 30px;
          color: #ffffff;
          font-weight: 600; }
        .shops-section .shops-wrapper .shop-item-wrapper .shop-item-label-wrapper.bottom-label {
          width: 100%;
          left: 0;
          bottom: 0;
          padding: 25px 10px;
          background: rgba(101, 101, 121, 0.17);
          -webkit-backdrop-filter: blur(200px);
                  backdrop-filter: blur(200px);
          font-family: "SF Pro Display";
          font-size: 17px;
          color: #ffffff;
          font-weight: 600; }
      @media screen and (max-width: 890px) {
        .shops-section .shops-wrapper .shop-item-wrapper {
          width: 50%; }
          .shops-section .shops-wrapper .shop-item-wrapper:first-child {
            margin-right: 0px; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(n + 2) {
            margin: 0 0; }
          .shops-section .shops-wrapper .shop-item-wrapper:last-child {
            margin-right: 0; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(odd) {
            padding-right: 18px; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(even) {
            padding-left: 18px; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(n + 3) {
            margin-top: 30px; } }
      @media screen and (max-width: 530px) {
        .shops-section .shops-wrapper .shop-item-wrapper {
          width: 100%; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(n + 2) {
            margin-top: 30px; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(odd) {
            padding-right: 0; }
          .shops-section .shops-wrapper .shop-item-wrapper:nth-child(even) {
            padding-left: 0; } }

/*# sourceMappingURL=contacts.css.map */