.shop-info-section {
  background: #ffffff;
  backdrop-filter: blur(200px); }
  .shop-info-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #0c0c0d;
    font-weight: 600; }
  .shop-info-section .description {
    display: grid;
    grid-template-areas: " online-shop-info shop-img-wrapper" "service-center-info shop-img-wrapper";
    grid-template-columns: 50% 50% 50%;
    align-items: center; }
    .shop-info-section .description .online-shop-info {
      grid-area: online-shop-info;
      margin-right: 65px; }
    .shop-info-section .description .service-center-info {
      grid-area: service-center-info;
      margin-right: 65px;
      margin-top: 120px; }
    .shop-info-section .description .shop-img-wrapper {
      grid-area: shop-img-wrapper; }
    .shop-info-section .description .info-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 60px; }
      .shop-info-section .description .info-wrapper .title {
        min-height: 20px;
        white-space: nowrap;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: rgba(12, 12, 13, 0.5);
        font-weight: normal; }
      .shop-info-section .description .info-wrapper .email-block {
        padding: 0 10px; }
      .shop-info-section .description .info-wrapper .info-item {
        display: flex;
        align-items: center; }
        .shop-info-section .description .info-wrapper .info-item:nth-child(2) {
          margin-top: 20px; }
        .shop-info-section .description .info-wrapper .info-item:nth-child(n + 3) {
          margin-top: 30px; }
        .shop-info-section .description .info-wrapper .info-item .icon-wrapper {
          margin-right: 15px; }
          .shop-info-section .description .info-wrapper .info-item .icon-wrapper img {
            min-width: 26px; }
        .shop-info-section .description .info-wrapper .info-item .text {
          font-family: "SF Pro Display";
          font-size: 16px;
          color: #0c0c0d;
          font-weight: normal; }
          .shop-info-section .description .info-wrapper .info-item .text.timetable .timetable-item:nth-child(n + 2) {
            margin-top: 12px; }

.shops-section {
  background: #000000; }
  .shops-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
  .shops-section .shops-wrapper {
    margin-top: 60px;
    display: flex; }
    .shops-section .shops-wrapper .shop-item-wrapper {
      position: relative; }
      .shops-section .shops-wrapper .shop-item-wrapper:first-child {
        margin-right: 15px; }
      .shops-section .shops-wrapper .shop-item-wrapper:nth-child(n + 2) {
        margin: 0 15px; }
      .shops-section .shops-wrapper .shop-item-wrapper:last-child {
        margin-right: 0; }
      .shops-section .shops-wrapper .shop-item-wrapper:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(22, 22, 25, 0.68); }
      .shops-section .shops-wrapper .shop-item-wrapper .shop-item-label-wrapper {
        position: absolute;
        z-index: 2;
        text-align: center; }
        .shops-section .shops-wrapper .shop-item-wrapper .shop-item-label-wrapper.center-label {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "SF Pro Display";
          font-size: 30px;
          color: #ffffff;
          font-weight: 600; }
        .shops-section .shops-wrapper .shop-item-wrapper .shop-item-label-wrapper.bottom-label {
          width: 100%;
          left: 0;
          bottom: 0;
          padding: 25px 10px;
          background: rgba(101, 101, 121, 0.17);
          backdrop-filter: blur(200px);
          font-family: "SF Pro Display";
          font-size: 17px;
          color: #ffffff;
          font-weight: 600; }

/*# sourceMappingURL=contacts.css.map */
