.how-it-works-section {
  background: #141415;
  backdrop-filter: blur(200px); }
  .how-it-works-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
  .how-it-works-section .description-wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between; }
    .how-it-works-section .description-wrapper .description-item-wrapper {
      display: flex;
      align-items: center; }
      .how-it-works-section .description-wrapper .description-item-wrapper:nth-child(1) .description-item-text {
        max-width: 250px; }
      .how-it-works-section .description-wrapper .description-item-wrapper:nth-child(2) {
        padding: 0 10px; }
        .how-it-works-section .description-wrapper .description-item-wrapper:nth-child(2) .description-item-text {
          max-width: 290px; }
      .how-it-works-section .description-wrapper .description-item-wrapper:nth-child(3) .description-item-text {
        max-width: 335px; }
      .how-it-works-section .description-wrapper .description-item-wrapper .description-item-text {
        margin-left: 15px;
        font-family: "SF Pro Display";
        font-size: 24px;
        color: #ffffff;
        font-weight: 600; }

.exchange-section {
  background: #ffffff;
  backdrop-filter: blur(200px); }
  .exchange-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #0c0c0d;
    font-weight: 600; }
  .exchange-section .exchange-selects-wrapper {
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(12, 12, 13, 0.3); }
    .exchange-section .exchange-selects-wrapper .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%; }
    .exchange-section .exchange-selects-wrapper .select-title {
      font-family: "SF Pro Display";
      font-size: 24px;
      color: #0c0c0d;
      font-weight: 600;
      width: 50%; }
      .exchange-section .exchange-selects-wrapper .select-title.right {
        text-align: right; }
    .exchange-section .exchange-selects-wrapper .arrows-icon-wrapper {
      display: flex;
      align-items: center; }
    .exchange-section .exchange-selects-wrapper .select-wrapper {
      display: flex;
      align-items: flex-end;
      width: 45%; }
      .exchange-section .exchange-selects-wrapper .select-wrapper select {
        width: 100%;
        max-width: 399px;
        padding: 18px;
        border: 1px solid rgba(12, 12, 13, 0.5);
        cursor: pointer;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: rgba(12, 12, 13, 0.5);
        font-weight: normal;
        appearance: none;
        background: url("../images/arrow.png") no-repeat;
        background-position-x: 95%;
        background-position-y: center; }
      .exchange-section .exchange-selects-wrapper .select-wrapper.left .select-preview {
        margin-left: 45px; }
      .exchange-section .exchange-selects-wrapper .select-wrapper.right {
        justify-content: flex-end; }
        .exchange-section .exchange-selects-wrapper .select-wrapper.right .select-preview {
          margin-right: 45px; }
      .exchange-section .exchange-selects-wrapper .select-wrapper .select-preview img {
        max-width: 90px; }
  .exchange-section .leave-request-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .exchange-section .leave-request-wrapper .leave-request-form {
      display: flex;
      flex: 1; }
      .exchange-section .leave-request-wrapper .leave-request-form fieldset {
        width: 100%;
        max-width: 284px; }
        .exchange-section .leave-request-wrapper .leave-request-form fieldset.phone-input-fieldset {
          margin: 0 30px; }
      .exchange-section .leave-request-wrapper .leave-request-form input {
        width: 100%;
        max-width: 284px;
        padding: 18px;
        border: 1px solid rgba(12, 12, 13, 0.5);
        cursor: pointer;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: rgba(12, 12, 13, 0.5);
        font-weight: normal; }
      .exchange-section .leave-request-wrapper .leave-request-form .leave-request-bth {
        width: 100%;
        max-width: 284px;
        padding: 18px;
        border: 1px solid #fe8732;
        background: #fe8732;
        cursor: pointer;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #ffffff;
        font-weight: 600; }
    .exchange-section .leave-request-wrapper .approximate-surcharge {
      display: flex;
      align-items: center;
      padding-left: 10px; }
      .exchange-section .leave-request-wrapper .approximate-surcharge .label {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #0c0c0d;
        font-weight: 600; }
      .exchange-section .leave-request-wrapper .approximate-surcharge .value {
        margin-left: 42px;
        font-family: "SF Pro Display";
        font-size: 36px;
        color: #fe8732;
        font-weight: 600; }

/*# sourceMappingURL=exchange.css.map */
