.subscribe-newsletter-section {
  background: #000000;
  position: relative; }
  @media screen and (max-width: 768px) {
    .subscribe-newsletter-section {
      padding-bottom: 0; } }
  .subscribe-newsletter-section .mask-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .subscribe-newsletter-section .iPhone-img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3; }
    @media screen and (max-width: 768px) {
      .subscribe-newsletter-section .iPhone-img-wrapper {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .subscribe-newsletter-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-title {
        font-size: 36px; } }
  .subscribe-newsletter-section .section-sub-title {
    margin-top: 60px;
    font-family: "SF Pro Display";
    font-size: 20px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-sub-title {
        margin-top: 30px;
        font-size: 18px; } }
  .subscribe-newsletter-section .container {
    z-index: 4;
    position: relative; }
  .subscribe-newsletter-section .input-wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .input-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .subscribe-newsletter-section .input-wrapper input {
      padding: 19px 30px;
      border: 1px solid #ffffff;
      background: none;
      font-family: "SF Pro Display";
      font-size: 17px;
      color: #ffffff;
      font-weight: 600;
      width: 100%;
      max-width: 500px;
      outline: none;
      min-height: 60px; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 100%; } }
    .subscribe-newsletter-section .input-wrapper button {
      right: 1px;
      position: relative;
      min-height: 60px;
      width: 100%;
      max-width: 356px;
      padding: 18px;
      border: 1px solid #fe8732;
      background: #fe8732;
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #ffffff;
      font-weight: 600; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 100%;
          margin-top: 30px; } }

.footer {
  padding: 82px 0;
  background: #0c0c0d; }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 40px 0; } }
  .footer .container {
    display: grid;
    grid-template-areas: "logo-block catalog-block services-block contacts-block social-networks-block" "logo-block catalog-block services-block timetable-block social-networks-block";
    grid-template-columns: 20% 15% 20% 20% 20%;
    grid-template-rows: -webkit-max-content max-content -webkit-max-content max-content -webkit-max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .footer .container {
        grid-template-areas: "logo-block catalog-block services-block" "contacts-block catalog-block services-block" "social-networks-block timetable-block timetable-block";
        grid-template-columns: 40% 25% 35%; } }
    @media screen and (max-width: 480px) {
      .footer .container {
        grid-template-areas: "logo-block" "catalog-block" "services-block" "contacts-block" "timetable-block" "social-networks-block";
        grid-template-columns: 100%;
        justify-items: center; } }
  .footer .logo-block {
    grid-area: logo-block;
    max-width: 200px; }
    @media screen and (max-width: 480px) {
      .footer .logo-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .logo-block .logo-description {
          display: none; } }
  .footer .catalog-block {
    grid-area: catalog-block; }
  .footer .services-block {
    grid-area: services-block; }
  .footer .contacts-block {
    grid-area: contacts-block; }
  .footer .timetable-block {
    grid-area: timetable-block; }
    @media screen and (max-width: 768px) {
      .footer .timetable-block {
        margin-top: 30px; } }
  .footer .social-networks-block {
    grid-area: social-networks-block; }
    @media screen and (max-width: 768px) {
      .footer .social-networks-block {
        margin-top: 30px; } }
    .footer .social-networks-block .logo-description {
      display: none; }
    @media screen and (max-width: 480px) {
      .footer .social-networks-block .logo-description {
        display: block;
        max-width: 200px; } }
  .footer .footer-block {
    padding-right: 10px; }
    @media screen and (max-width: 480px) {
      .footer .footer-block {
        text-align: center;
        padding-right: 0; }
        .footer .footer-block:nth-child(n + 2) {
          margin-top: 30px; }
        .footer .footer-block:nth-child(n + 3) {
          margin-top: 36px; } }
    .footer .footer-block .title {
      font-family: "SF Pro Display";
      font-size: 18px;
      color: #ffffff;
      font-weight: 600; }
    .footer .footer-block .logo-description {
      margin-top: 30px;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      font-weight: normal; }
    .footer .footer-block .footer-list {
      margin-top: 20px; }
      .footer .footer-block .footer-list .list-item {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #ffffff;
        font-weight: normal; }
        .footer .footer-block .footer-list .list-item a {
          font-family: "SF Pro Display";
          font-size: 16px;
          color: #ffffff;
          font-weight: normal; }
        .footer .footer-block .footer-list .list-item:nth-child(n + 2) {
          margin-top: 12px; }
      .footer .footer-block .footer-list.social-networks-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media screen and (max-width: 480px) {
          .footer .footer-block .footer-list.social-networks-list {
            max-width: 140px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 30px auto; } }
        .footer .footer-block .footer-list.social-networks-list .list-item {
          margin-top: 0;
          margin-right: 28px;
          min-width: 25px; }
          @media screen and (max-width: 480px) {
            .footer .footer-block .footer-list.social-networks-list .list-item {
              margin-right: 0px; } }

.repair-section {
  background: #ffffff;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px); }
  .repair-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .repair-section .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .repair-section .container .left-block,
    .repair-section .container .right-block {
      width: 50%; }
      @media screen and (max-width: 768px) {
        .repair-section .container .left-block,
        .repair-section .container .right-block {
          width: 100%; } }
    .repair-section .container .left-block {
      max-height: 390px;
      position: relative;
      /* width */
      /* Track */
      /* Handle */
      /* Handle on hover */ }
      .repair-section .container .left-block ::-webkit-scrollbar {
        width: 8px;
        background: transparent; }
      .repair-section .container .left-block ::-webkit-scrollbar-track {
        width: 1px; }
      .repair-section .container .left-block ::-webkit-scrollbar-thumb {
        background: #666666; }
      .repair-section .container .left-block ::-webkit-scrollbar-thumb:hover {
        background: #666666; }
      @media screen and (max-width: 768px) {
        .repair-section .container .left-block {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          margin-top: 45px; } }
      .repair-section .container .left-block .scroll-line {
        position: absolute;
        top: 0;
        left: 3.4px;
        width: 1px;
        background: rgba(0, 0, 0, 0.42);
        height: 100%; }
    @media screen and (max-width: 768px) {
      .repair-section .container .right-block img {
        width: 100%; } }
    .repair-section .container .info-wrapper {
      overflow: auto;
      direction: rtl;
      max-height: 390px;
      position: relative;
      padding-right: 30px;
      padding-left: 43px; }
      @media screen and (max-width: 768px) {
        .repair-section .container .info-wrapper {
          padding-right: 0;
          max-height: 349px; } }
      @media screen and (max-width: 480px) {
        .repair-section .container .info-wrapper {
          padding-left: 10px; } }
      .repair-section .container .info-wrapper .info-item:nth-child(n + 2) {
        margin-top: 50px; }
      .repair-section .container .info-wrapper .info-item .title {
        text-align: left;
        font-family: "SF Pro Display";
        font-size: 24px;
        color: #0c0c0d;
        font-weight: 600; }
      .repair-section .container .info-wrapper .info-item .main-text {
        text-align: left;
        margin-top: 30px;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #0c0c0d;
        font-weight: normal; }

.repair-section {
  background: #000000; }
  .repair-section .container .left-block,
  .repair-section .container .right-block {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .repair-section .container .left-block,
      .repair-section .container .right-block {
        width: 100%; } }
  .repair-section .container .left-block ::-webkit-scrollbar-thumb {
    background: #ffffff; }
  .repair-section .container .left-block ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; }
  .repair-section .container .left-block .scroll-line {
    background: rgba(255, 255, 255, 0.42); }
  .repair-section .container .info-wrapper .info-item .title {
    color: #ffffff; }
  .repair-section .container .info-wrapper .info-item .main-text {
    color: #ffffff; }

.table-warranty-program-section,
.table-warranty-insurance-section {
  background: #ffffff;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px); }
  .table-warranty-program-section .section-title,
  .table-warranty-insurance-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #0c0c0d;
    font-weight: 600; }
  .table-warranty-program-section .table-wrapper,
  .table-warranty-insurance-section .table-wrapper {
    margin-top: 60px; }
    .table-warranty-program-section .table-wrapper table,
    .table-warranty-insurance-section .table-wrapper table {
      width: 100%; }
      .table-warranty-program-section .table-wrapper table thead th,
      .table-warranty-insurance-section .table-wrapper table thead th {
        text-align: left;
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #0c0c0d;
        font-weight: 600; }
      .table-warranty-program-section .table-wrapper table thead th:nth-child(2),
      .table-warranty-insurance-section .table-wrapper table thead th:nth-child(2) {
        text-align: center; }
      .table-warranty-program-section .table-wrapper table thead th:nth-child(3),
      .table-warranty-insurance-section .table-wrapper table thead th:nth-child(3) {
        text-align: right; }
      .table-warranty-program-section .table-wrapper table tbody th,
      .table-warranty-insurance-section .table-wrapper table tbody th {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #fe8732;
        font-weight: 600; }
        @media screen and (max-width: 480px) {
          .table-warranty-program-section .table-wrapper table tbody th,
          .table-warranty-insurance-section .table-wrapper table tbody th {
            font-size: 14px;
            font-weight: normal; } }
      .table-warranty-program-section .table-wrapper table tbody td,
      .table-warranty-insurance-section .table-wrapper table tbody td {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #0c0c0d;
        font-weight: normal; }
      .table-warranty-program-section .table-wrapper table tbody th,
      .table-warranty-insurance-section .table-wrapper table tbody th {
        text-align: left; }
      .table-warranty-program-section .table-wrapper table tbody td:nth-child(2),
      .table-warranty-insurance-section .table-wrapper table tbody td:nth-child(2) {
        text-align: center; }
      .table-warranty-program-section .table-wrapper table tbody td:nth-child(3),
      .table-warranty-insurance-section .table-wrapper table tbody td:nth-child(3) {
        text-align: right; }
      .table-warranty-program-section .table-wrapper table th,
      .table-warranty-program-section .table-wrapper table td,
      .table-warranty-insurance-section .table-wrapper table th,
      .table-warranty-insurance-section .table-wrapper table td {
        padding: 15px 0;
        border-bottom: 1px solid rgba(12, 12, 13, 0.5);
        word-wrap: break-word; }
      .table-warranty-program-section .table-wrapper table.warranty-insurance-table thead th:nth-child(2),
      .table-warranty-insurance-section .table-wrapper table.warranty-insurance-table thead th:nth-child(2) {
        text-align: right; }
      .table-warranty-program-section .table-wrapper table.warranty-insurance-table tbody td,
      .table-warranty-insurance-section .table-wrapper table.warranty-insurance-table tbody td {
        text-align: right; }

.banner-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .banner-wrapper.warranty-program-banner {
    background-image: url("../images/img_4229 1.png");
    height: 533px; }
    @media screen and (max-width: 480px) {
      .banner-wrapper.warranty-program-banner {
        height: 247px; } }
  .banner-wrapper.warranty-insurance-banner {
    background-image: url("../images/care-1 1.png");
    height: 520px; }
    @media screen and (max-width: 480px) {
      .banner-wrapper.warranty-insurance-banner {
        height: 292px;
        background-position: 67% 100%; } }

/*# sourceMappingURL=guarantee.css.map */