.subscribe-newsletter-section {
  background: #000000;
  position: relative; }
  @media screen and (max-width: 768px) {
    .subscribe-newsletter-section {
      padding-bottom: 0; } }
  .subscribe-newsletter-section .mask-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .subscribe-newsletter-section .iPhone-img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3; }
    @media screen and (max-width: 768px) {
      .subscribe-newsletter-section .iPhone-img-wrapper {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .subscribe-newsletter-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-title {
        font-size: 36px; } }
  .subscribe-newsletter-section .section-sub-title {
    margin-top: 60px;
    font-family: "SF Pro Display";
    font-size: 20px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-sub-title {
        margin-top: 30px;
        font-size: 18px; } }
  .subscribe-newsletter-section .container {
    z-index: 4;
    position: relative; }
  .subscribe-newsletter-section .input-wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .input-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .subscribe-newsletter-section .input-wrapper input {
      padding: 19px 30px;
      border: 1px solid #ffffff;
      background: none;
      font-family: "SF Pro Display";
      font-size: 17px;
      color: #ffffff;
      font-weight: 600;
      width: 100%;
      max-width: 500px;
      outline: none;
      min-height: 60px; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 100%; } }
    .subscribe-newsletter-section .input-wrapper button {
      right: 1px;
      position: relative;
      min-height: 60px;
      width: 100%;
      max-width: 356px;
      padding: 18px;
      border: 1px solid #fe8732;
      background: #fe8732;
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #ffffff;
      font-weight: 600; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 100%;
          margin-top: 30px; } }

.footer {
  padding: 82px 0;
  background: #0c0c0d; }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 40px 0; } }
  .footer .container {
    display: grid;
    grid-template-areas: "logo-block catalog-block services-block contacts-block social-networks-block" "logo-block catalog-block services-block timetable-block social-networks-block";
    grid-template-columns: 20% 15% 20% 20% 20%;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-rows: -webkit-max-content max-content -webkit-max-content max-content -webkit-max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .footer .container {
        grid-template-areas: "logo-block catalog-block services-block" "contacts-block catalog-block services-block" "social-networks-block timetable-block timetable-block";
        grid-template-columns: 40% 25% 35%; } }
    @media screen and (max-width: 480px) {
      .footer .container {
        grid-template-areas: "logo-block" "catalog-block" "services-block" "contacts-block" "timetable-block" "social-networks-block";
        grid-template-columns: 100%;
        justify-items: center; } }
  .footer .logo-block {
    grid-area: logo-block;
    max-width: 200px; }
    @media screen and (max-width: 480px) {
      .footer .logo-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .logo-block .logo-description {
          display: none; } }
  .footer .catalog-block {
    grid-area: catalog-block; }
  .footer .services-block {
    grid-area: services-block; }
  .footer .contacts-block {
    grid-area: contacts-block; }
  .footer .timetable-block {
    grid-area: timetable-block; }
    @media screen and (max-width: 768px) {
      .footer .timetable-block {
        margin-top: 30px; } }
  .footer .social-networks-block {
    grid-area: social-networks-block; }
    @media screen and (max-width: 768px) {
      .footer .social-networks-block {
        margin-top: 30px; } }
    .footer .social-networks-block .logo-description {
      display: none; }
    @media screen and (max-width: 480px) {
      .footer .social-networks-block .logo-description {
        display: block;
        max-width: 200px; } }
  .footer .footer-block {
    padding-right: 10px; }
    @media screen and (max-width: 480px) {
      .footer .footer-block {
        text-align: center;
        padding-right: 0; }
        .footer .footer-block:nth-child(n + 2) {
          margin-top: 30px; }
        .footer .footer-block:nth-child(n + 3) {
          margin-top: 36px; } }
    .footer .footer-block .title {
      font-family: "SF Pro Display";
      font-size: 18px;
      color: #ffffff;
      font-weight: 600; }
    .footer .footer-block .logo-description {
      margin-top: 30px;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      font-weight: normal; }
    .footer .footer-block .footer-list {
      margin-top: 20px; }
      .footer .footer-block .footer-list .list-item {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #ffffff;
        font-weight: normal; }
        .footer .footer-block .footer-list .list-item a {
          font-family: "SF Pro Display";
          font-size: 16px;
          color: #ffffff;
          font-weight: normal; }
        .footer .footer-block .footer-list .list-item:nth-child(n + 2) {
          margin-top: 12px; }
      .footer .footer-block .footer-list.social-networks-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media screen and (max-width: 480px) {
          .footer .footer-block .footer-list.social-networks-list {
            max-width: 140px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 30px auto; } }
        .footer .footer-block .footer-list.social-networks-list .list-item {
          margin-top: 0;
          margin-right: 28px;
          min-width: 25px; }
          @media screen and (max-width: 480px) {
            .footer .footer-block .footer-list.social-networks-list .list-item {
              margin-right: 0px; } }

.password-recovery-section {
  background: #ffffff;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  padding-top: 180px;
  padding-bottom: 150px; }
  @media screen and (max-width: 480px) {
    .password-recovery-section {
      padding-top: 90px;
      padding-bottom: 90px; } }
  .password-recovery-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .password-recovery-section .section-title {
    font-family: "SF Pro Display";
    font-size: 82px;
    color: #0c0c0d;
    font-weight: 600;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .password-recovery-section .section-title {
        font-size: 40px; } }
  .password-recovery-section .login-navigation {
    margin-top: 30px;
    font-family: "SF Pro Display";
    font-size: 20px;
    color: #0c0c0d;
    font-weight: normal; }
  .password-recovery-section .login-form {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .password-recovery-section .login-form fieldset {
      width: 100%;
      max-width: 400px; }
    .password-recovery-section .login-form :nth-child(1) {
      margin-right: 15px; }
    .password-recovery-section .login-form :nth-child(2) {
      margin-left: 15px; }
    .password-recovery-section .login-form .input {
      width: 100%;
      max-width: 400px;
      padding: 18px;
      border: 1px solid rgba(12, 12, 13, 0.5);
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(12, 12, 13, 0.5);
      font-weight: normal; }
    .password-recovery-section .login-form .bth {
      width: 100%;
      max-width: 400px;
      padding: 18px;
      border: 1px solid #fe8732;
      background: #fe8732;
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #ffffff;
      font-weight: 600; }
    @media screen and (max-width: 768px) {
      .password-recovery-section .login-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 345px; }
        .password-recovery-section .login-form fieldset {
          max-width: 345px; }
        .password-recovery-section .login-form :nth-child(1) {
          margin-right: 0; }
        .password-recovery-section .login-form :nth-child(2) {
          margin: 30px 0 0 0; }
        .password-recovery-section .login-form :nth-child(3) {
          margin: 30px 0 0 0; }
        .password-recovery-section .login-form .input {
          max-width: 345px; }
        .password-recovery-section .login-form .bth {
          max-width: 345px;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; }
        .password-recovery-section .login-form .forgot-password-navigation {
          text-align: left; } }
/*# sourceMappingURL=password-recovery.css.map */