.subscribe-newsletter-section {
  background: #000000;
  position: relative; }
  @media screen and (max-width: 768px) {
    .subscribe-newsletter-section {
      padding-bottom: 0; } }
  .subscribe-newsletter-section .mask-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .subscribe-newsletter-section .iPhone-img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3; }
    @media screen and (max-width: 768px) {
      .subscribe-newsletter-section .iPhone-img-wrapper {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .subscribe-newsletter-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-title {
        font-size: 36px; } }
  .subscribe-newsletter-section .section-sub-title {
    margin-top: 60px;
    font-family: "SF Pro Display";
    font-size: 20px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .section-sub-title {
        margin-top: 30px;
        font-size: 18px; } }
  .subscribe-newsletter-section .container {
    z-index: 4;
    position: relative; }
  .subscribe-newsletter-section .input-wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      .subscribe-newsletter-section .input-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .subscribe-newsletter-section .input-wrapper input {
      padding: 19px 30px;
      border: 1px solid #ffffff;
      background: none;
      font-family: "SF Pro Display";
      font-size: 17px;
      color: #ffffff;
      font-weight: 600;
      width: 100%;
      max-width: 500px;
      outline: none;
      min-height: 60px; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper input {
          max-width: 100%; } }
    .subscribe-newsletter-section .input-wrapper button {
      right: 1px;
      position: relative;
      min-height: 60px;
      width: 100%;
      max-width: 356px;
      padding: 18px;
      border: 1px solid #fe8732;
      background: #fe8732;
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #ffffff;
      font-weight: 600; }
      @media screen and (max-width: 768px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 50%; } }
      @media screen and (max-width: 480px) {
        .subscribe-newsletter-section .input-wrapper button {
          max-width: 100%;
          margin-top: 30px; } }

.footer {
  padding: 82px 0;
  background: #0c0c0d; }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 40px 0; } }
  .footer .container {
    display: grid;
    grid-template-areas: "logo-block catalog-block services-block contacts-block social-networks-block" "logo-block catalog-block services-block timetable-block social-networks-block";
    grid-template-columns: 20% 15% 20% 20% 20%;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-rows: -webkit-max-content max-content -webkit-max-content max-content -webkit-max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .footer .container {
        grid-template-areas: "logo-block catalog-block services-block" "contacts-block catalog-block services-block" "social-networks-block timetable-block timetable-block";
        grid-template-columns: 40% 25% 35%; } }
    @media screen and (max-width: 480px) {
      .footer .container {
        grid-template-areas: "logo-block" "catalog-block" "services-block" "contacts-block" "timetable-block" "social-networks-block";
        grid-template-columns: 100%;
        justify-items: center; } }
  .footer .logo-block {
    grid-area: logo-block;
    max-width: 200px; }
    @media screen and (max-width: 480px) {
      .footer .logo-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .logo-block .logo-description {
          display: none; } }
  .footer .catalog-block {
    grid-area: catalog-block; }
  .footer .services-block {
    grid-area: services-block; }
  .footer .contacts-block {
    grid-area: contacts-block; }
  .footer .timetable-block {
    grid-area: timetable-block; }
    @media screen and (max-width: 768px) {
      .footer .timetable-block {
        margin-top: 30px; } }
  .footer .social-networks-block {
    grid-area: social-networks-block; }
    @media screen and (max-width: 768px) {
      .footer .social-networks-block {
        margin-top: 30px; } }
    .footer .social-networks-block .logo-description {
      display: none; }
    @media screen and (max-width: 480px) {
      .footer .social-networks-block .logo-description {
        display: block;
        max-width: 200px; } }
  .footer .footer-block {
    padding-right: 10px; }
    @media screen and (max-width: 480px) {
      .footer .footer-block {
        text-align: center;
        padding-right: 0; }
        .footer .footer-block:nth-child(n + 2) {
          margin-top: 30px; }
        .footer .footer-block:nth-child(n + 3) {
          margin-top: 36px; } }
    .footer .footer-block .title {
      font-family: "SF Pro Display";
      font-size: 18px;
      color: #ffffff;
      font-weight: 600; }
    .footer .footer-block .logo-description {
      margin-top: 30px;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      font-weight: normal; }
    .footer .footer-block .footer-list {
      margin-top: 20px; }
      .footer .footer-block .footer-list .list-item {
        font-family: "SF Pro Display";
        font-size: 16px;
        color: #ffffff;
        font-weight: normal; }
        .footer .footer-block .footer-list .list-item a {
          font-family: "SF Pro Display";
          font-size: 16px;
          color: #ffffff;
          font-weight: normal; }
        .footer .footer-block .footer-list .list-item:nth-child(n + 2) {
          margin-top: 12px; }
      .footer .footer-block .footer-list.social-networks-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media screen and (max-width: 480px) {
          .footer .footer-block .footer-list.social-networks-list {
            max-width: 140px;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 30px auto; } }
        .footer .footer-block .footer-list.social-networks-list .list-item {
          margin-top: 0;
          margin-right: 28px;
          min-width: 25px; }
          @media screen and (max-width: 480px) {
            .footer .footer-block .footer-list.social-networks-list .list-item {
              margin-right: 0px; } }

.profile-section {
  padding: 0; }

.tabs-header-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/Rectangle 6.png");
  min-height: 462px; }
  .tabs-header-banner .tab-content {
    padding: 100px 0; }
    .tabs-header-banner .tab-content .section-title {
      font-family: "SF Pro Display";
      font-size: 82px;
      color: #ffffff;
      font-weight: 600;
      text-align: center; }
      @media screen and (max-width: 480px) {
        .tabs-header-banner .tab-content .section-title {
          font-size: 52px; } }

#profile-tabs-wrapper {
  padding-top: 75px; }
  @media screen and (max-width: 480px) {
    #profile-tabs-wrapper {
      padding-top: 60px; } }
  #profile-tabs-wrapper .tab-bths-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 480px) {
      #profile-tabs-wrapper .tab-bths-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #profile-tabs-wrapper .tab-bths-list .profile-tab-bth {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: center;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3); }
      @media screen and (max-width: 480px) {
        #profile-tabs-wrapper .tab-bths-list .profile-tab-bth {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          display: inline-block;
          margin: auto; }
          #profile-tabs-wrapper .tab-bths-list .profile-tab-bth:nth-child(n + 2) {
            margin: 25px auto 0 auto; } }
      #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a {
        cursor: pointer;
        padding-bottom: 30px;
        display: block;
        height: 100%;
        font-family: "SF Pro Display";
        font-size: 40px;
        color: #ffffff;
        font-weight: 600; }
        @media screen and (max-width: 768px) {
          #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a {
            font-size: 20px; } }
        #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a:nth-child(1) {
          padding-right: 10px; }
        #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a:nth-child(2) {
          padding: 0 10px; }
        #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a:nth-child(3) {
          padding-left: 10px; }
        @media screen and (max-width: 480px) {
          #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a {
            padding-bottom: 12px; }
            #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a:nth-child(1) {
              padding-right: 0; }
            #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a:nth-child(2) {
              padding: 0 0; }
            #profile-tabs-wrapper .tab-bths-list .profile-tab-bth a:nth-child(3) {
              padding-left: 0; } }
      #profile-tabs-wrapper .tab-bths-list .profile-tab-bth.tab-active {
        border-bottom: 2px solid #ffffff; }

.orders-section,
.profile-info-section,
.bonus-section {
  background: #ffffff;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px); }
  @media screen and (max-width: 480px) {
    .orders-section,
    .profile-info-section,
    .bonus-section {
      padding-top: 60px; } }

.profile-info-section .info-wrapper {
  width: 100%;
  max-width: 820px;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .profile-info-section .info-wrapper {
      max-width: 100%; } }
  .profile-info-section .info-wrapper .info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid rgba(12, 12, 13, 0.5); }
    .profile-info-section .info-wrapper .info-item .label {
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #fe8732;
      font-weight: 600; }
    .profile-info-section .info-wrapper .info-item .value {
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #0c0c0d;
      font-weight: normal; }
.profile-info-section .bth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px; }
  @media screen and (max-width: 480px) {
    .profile-info-section .bth-wrapper {
      margin-top: 40px; } }
  .profile-info-section .bth-wrapper .bth {
    width: 100%;
    max-width: 400px;
    padding: 18px;
    border: 1px solid #fe8732;
    background: #fe8732;
    cursor: pointer;
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #ffffff;
    font-weight: 600; }
    @media screen and (max-width: 480px) {
      .profile-info-section .bth-wrapper .bth {
        max-width: 100%; } }

.bonus-section .section-title {
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 45px;
  color: #0c0c0d;
  font-weight: 600; }
.bonus-section .bonus-sum {
  font-family: "SF Pro Display";
  font-size: 64px;
  color: #fe8732;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: center; }
.bonus-section .info-block {
  border-top: 1px solid rgba(12, 12, 13, 0.5); }
  .bonus-section .info-block .description {
    margin-top: 40px;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #0c0c0d;
    font-weight: normal; }

.orders-section .orders-list .order-item {
  padding: 40px 0; }
  .orders-section .orders-list .order-item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .orders-section .orders-list .order-item .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .orders-section .orders-list .order-item:first-child {
    border-bottom: 1px solid rgba(12, 12, 13, 0.5);
    border-top: 1px solid rgba(12, 12, 13, 0.5); }
  .orders-section .orders-list .order-item:nth-child(n + 2) {
    border-bottom: 1px solid rgba(12, 12, 13, 0.5); }
  .orders-section .orders-list .order-item .order-id {
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #2939c5;
    font-weight: normal;
    padding-right: 10px; }
    @media screen and (max-width: 480px) {
      .orders-section .orders-list .order-item .order-id {
        width: 50%; } }
  .orders-section .orders-list .order-item .order-state {
    width: 100%;
    max-width: 113px;
    text-align: center;
    padding: 7px 16px;
    background: #72d450;
    border-radius: 5px;
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #ffffff;
    font-weight: normal; }
    @media screen and (max-width: 768px) {
      .orders-section .orders-list .order-item .order-state {
        width: 50%; } }
  .orders-section .orders-list .order-item .order-devices {
    width: 35%;
    padding: 0 10px; }
    @media screen and (max-width: 768px) {
      .orders-section .orders-list .order-item .order-devices {
        padding-right: 0;
        text-align: right; } }
    @media screen and (max-width: 480px) {
      .orders-section .orders-list .order-item .order-devices {
        width: 100%;
        padding: 0 0;
        text-align: left;
        margin-top: 43px; } }
    .orders-section .orders-list .order-item .order-devices .order-device {
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #0c0c0d;
      font-weight: normal; }
      .orders-section .orders-list .order-item .order-devices .order-device:nth-child(n + 2) {
        margin-top: 16px; }
  .orders-section .orders-list .order-item .order-description {
    width: 35%;
    padding: 0 10px;
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #0c0c0d;
    font-weight: normal; }
    @media screen and (max-width: 768px) {
      .orders-section .orders-list .order-item .order-description {
        width: 70%;
        margin-top: 30px;
        padding-left: 0; } }
    @media screen and (max-width: 480px) {
      .orders-section .orders-list .order-item .order-description {
        width: 70%;
        margin-top: 43px; } }
  .orders-section .orders-list .order-item .order-date {
    font-family: "SF Pro Display";
    font-size: 16px;
    color: #0c0c0d;
    font-weight: normal; }
    @media screen and (max-width: 768px) {
      .orders-section .orders-list .order-item .order-date {
        width: 30%;
        margin-top: 30px;
        text-align: right; } }
    @media screen and (max-width: 480px) {
      .orders-section .orders-list .order-item .order-date {
        width: 100%;
        text-align: left;
        margin-top: 43px; } }

.edit-profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .edit-profile-form .left-block,
  .edit-profile-form .right-block {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .edit-profile-form .left-block,
      .edit-profile-form .right-block {
        width: 100%; } }
  .edit-profile-form fieldset:nth-child(n + 2) {
    margin-top: 30px; }
  .edit-profile-form .fieldset-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 480px) {
      .edit-profile-form .fieldset-content {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .edit-profile-form .fieldset-content label {
      font-family: "SF Pro Display";
      font-size: 16px;
      color: #0c0c0d;
      font-weight: normal; }
  .edit-profile-form .left-block {
    padding-right: 15px; }
    @media screen and (max-width: 768px) {
      .edit-profile-form .left-block {
        padding-right: 0; } }
    .edit-profile-form .left-block label {
      cursor: pointer;
      white-space: nowrap;
      min-width: 120px;
      padding-right: 10px; }
      @media screen and (max-width: 768px) {
        .edit-profile-form .left-block label {
          white-space: initial; } }
    .edit-profile-form .left-block input {
      width: 100%;
      max-width: 542px;
      padding: 18px;
      border: 1px solid rgba(12, 12, 13, 0.5);
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(12, 12, 13, 0.5);
      font-weight: normal; }
      @media screen and (max-width: 480px) {
        .edit-profile-form .left-block input {
          max-width: 100%;
          margin-top: 16px; } }
  .edit-profile-form .right-block {
    padding-left: 15px; }
    @media screen and (max-width: 768px) {
      .edit-profile-form .right-block {
        padding-left: 0;
        margin-top: 30px; } }
    .edit-profile-form .right-block fieldset:first-child label span:nth-child(2) {
      cursor: pointer;
      padding-left: 35px; }
    @media screen and (max-width: 480px) {
      .edit-profile-form .right-block fieldset:first-child label {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .edit-profile-form .right-block fieldset:first-child label span {
          display: block; }
          .edit-profile-form .right-block fieldset:first-child label span:last-child {
            margin-top: 30px;
            padding-left: 0; } }
    .edit-profile-form .right-block label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 200px;
      padding-right: 10px; }
      .edit-profile-form .right-block label span {
        display: block; }
      .edit-profile-form .right-block label span:nth-child(2) {
        cursor: pointer;
        padding-left: 80px; }
        @media screen and (max-width: 480px) {
          .edit-profile-form .right-block label span:nth-child(2) {
            padding-left: 0; } }
    .edit-profile-form .right-block input,
    .edit-profile-form .right-block select {
      width: 100%;
      max-width: 369px;
      padding: 18px;
      border: 1px solid rgba(12, 12, 13, 0.5);
      cursor: pointer;
      font-family: "SF Pro Display";
      font-size: 16px;
      color: rgba(12, 12, 13, 0.5);
      font-weight: normal; }
      @media screen and (max-width: 768px) {
        .edit-profile-form .right-block input,
        .edit-profile-form .right-block select {
          max-width: 396px; } }
      @media screen and (max-width: 480px) {
        .edit-profile-form .right-block input,
        .edit-profile-form .right-block select {
          max-width: 100%;
          margin-top: 16px; } }
    .edit-profile-form .right-block select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background: url("../images/arrow.png") no-repeat;
      background-position-x: 95%;
      background-position-y: center; }
  .edit-profile-form .bths-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .edit-profile-form .bths-wrapper .bth-wrapper {
      width: 50%; }
      @media screen and (max-width: 768px) {
        .edit-profile-form .bths-wrapper .bth-wrapper {
          width: 100%; } }
      .edit-profile-form .bths-wrapper .bth-wrapper.save-bth-wrapper {
        padding-right: 15px; }
        @media screen and (max-width: 768px) {
          .edit-profile-form .bths-wrapper .bth-wrapper.save-bth-wrapper {
            padding-right: 0; } }
      .edit-profile-form .bths-wrapper .bth-wrapper.cancel-bth-wrapper {
        padding-left: 15px; }
        @media screen and (max-width: 768px) {
          .edit-profile-form .bths-wrapper .bth-wrapper.cancel-bth-wrapper {
            padding-left: 0;
            margin-top: 30px; } }
      .edit-profile-form .bths-wrapper .bth-wrapper .bth {
        max-width: 100%; }
        .edit-profile-form .bths-wrapper .bth-wrapper .bth.cancel-bth {
          background: #ffffff;
          color: #fe8732; }
/*# sourceMappingURL=profile.css.map */