@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

.shop-info-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
    @media screen and (max-width: 480px) {
      font-size: 40px;
    }
  }
  .description {
    display: grid;
    grid-template-areas:
      "online-shop-info shop-img-wrapper"
      "service-center-info shop-img-wrapper";
    grid-template-columns: 50% 50% 50%;
    align-items: center;
    @media screen and (max-width: 890px) {
      grid-template-areas:
        "online-shop-info online-shop-info"
        "shop-img-wrapper shop-img-wrapper"
        "service-center-info service-center-info";
      // grid-template-columns: 100% 100% 100%;
    }
    .online-shop-info {
      grid-area: online-shop-info;
      margin-right: 65px;
      @media screen and (max-width: 890px) {
        margin-right: 0;
      }
    }
    .timetable-block {
      @media screen and (max-width: 480px) {
        margin-top: 20px;
      }
    }
    .service-center-info {
      grid-area: service-center-info;
      margin-right: 65px;
      margin-top: 120px;
      @media screen and (max-width: 890px) {
        margin-right: 0;
        margin-top: 60px;
        .info-wrapper {
          .timetable-block {
            .timetable-item-wrapper {
              align-items: flex-start;
            }
          }
        }
      }
      @media screen and (max-width: 480px) {
        .info-wrapper {
          .timetable-block {
            .timetable-item-wrapper {
              align-items: center;
              .timetable {
                display: flex;
                justify-content: space-between;
                .timetable-item:nth-child(n + 2) {
                  margin-top: 0;
                  margin-left: 25px;
                }
              }
            }
          }
        }
      }
    }
    .shop-img-wrapper {
      grid-area: shop-img-wrapper;
      @media screen and (max-width: 890px) {
        margin-top: 60px;
        img {
          width: 100%;
        }
      }
    }
    .info-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      // .info-block {
      //   &:nth-child(3) {
      //     margin-top: 30px;
      //   }
      // }
      @media screen and (max-width: 890px) {
        justify-content: flex-start;
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
      .title {
        min-height: 20px;
        white-space: nowrap;
        @include fontStyle(
          "SF Pro Display",
          16px,
          rgba(12, 12, 13, 0.5),
          normal
        );
        @media screen and (max-width: 480px) {
          min-height: auto;
        }
      }
      .email-block {
        padding: 0 10px;
        @media screen and (max-width: 890px) {
          padding: 0 28px;
        }
        @media screen and (max-width: 480px) {
          padding: 0 0;
        }
      }
      .phones-block {
        @media screen and (max-width: 480px) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .title {
            margin-left: 10px;
          }
          .info-item {
            display: flex;
            align-items: center;
            &:nth-child(2) {
              margin-top: 0;
              order: -1;
            }
            &:nth-child(n + 3) {
              width: 100%;
            }
          }
        }
      }
      .service-phone-block {
        padding: 0 10px;
        @media screen and (max-width: 890px) {
          padding: 0 38px;
        }
        @media screen and (max-width: 480px) {
          padding: 0 0;
        }
      }
      .info-item {
        display: flex;
        align-items: center;
        &:nth-child(2) {
          margin-top: 20px;
        }
        &:nth-child(n + 3) {
          margin-top: 30px;
        }
        .icon-wrapper {
          margin-right: 15px;
          img {
            min-width: 26px;
          }
        }
        .text {
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
          &.timetable {
            .timetable-item:nth-child(n + 2) {
              margin-top: 12px;
            }
          }
        }
      }
    }
  }
}

.shops-section {
  background: #000000;
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #ffffff, 600);
    @media screen and (max-width: 480px) {
      font-size: 40px;
    }
  }
  .shops-wrapper {
    margin-top: 60px;
    display: flex;
    @media screen and (max-width: 890px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 480px) {
      margin-top: 50px;
    }
    .shop-item-wrapper {
      position: relative;
      .content {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          img {
            transform: scale(1.15);
          }
        }
        img {
          transition: all 1s;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(22, 22, 25, 0.68);
        }
        img {
          width: 100%;
        }
      }
      &:first-child {
        margin-right: 15px;
      }
      &:nth-child(n + 2) {
        margin: 0 15px;
      }
      &:last-child {
        margin-right: 0;
      }

      .shop-item-label-wrapper {
        position: absolute;
        z-index: 2;
        text-align: center;
        &.center-label {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include fontStyle("SF Pro Display", 30px, #ffffff, 600);
        }
        &.bottom-label {
          width: 100%;
          left: 0;
          bottom: 0;
          padding: 25px 10px;
          background: rgba(101, 101, 121, 0.17);
          backdrop-filter: blur(200px);
          @include fontStyle("SF Pro Display", 17px, #ffffff, 600);
        }
      }
      @media screen and (max-width: 890px) {
        width: 50%;
        &:first-child {
          margin-right: 0px;
          // background: red;
        }
        &:nth-child(n + 2) {
          margin: 0 0;
        }
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(odd) {
          padding-right: 18px;
        }
        &:nth-child(even) {
          padding-left: 18px;
        }
        &:nth-child(n + 3) {
          margin-top: 30px;
        }
      }
      @media screen and (max-width: 530px) {
        width: 100%;
        &:nth-child(n + 2) {
          margin-top: 30px;
        }
        &:nth-child(odd) {
          padding-right: 0;
        }
        &:nth-child(even) {
          padding-left: 0;
        }
      }
    }
  }
}
