@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

@include repairSection();

@include questionSection();

.b-page-description {
  background-color: #000000;
}
.scroll-content {
  color: #ffffff;
}

.section-title {
  @include fontStyle("SF Pro Display", 45px, #ffffff, 600);
  margin-bottom: 60px;
}

.questions-section {
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #ffffff, 600);
    margin-bottom: 60px;
  }
}

.repair-section {
  background: #000000;
  .container {
    .left-block,
    .right-block {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .left-block {
      ::-webkit-scrollbar-thumb {
        background: #ffffff;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
      }
      .scroll-line {
        background: rgba(255, 255, 255, 0.42);
      }
    }
    .info-wrapper {
      .info-item {
        .title {
          color: #ffffff;
        }
        .main-text {
          color: #ffffff;
        }
      }
    }
  }
}

@mixin circle {
  width: 10px;
  min-width: 10px;
  height: 10px;
  min-height: 10px;
  border-radius: 50%;
  background: #636372;
  content: "";
  display: block;
  margin-right: 18px;
}

.select-crediting-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/Mask Group (1).png");
  min-height: 411px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #ffffff, 600);
    text-align: center;
    @media screen and (max-width: 480px) {
      font-size: 40px;
    }
  }
  .select-wrapper {
    margin-top: 60px;
    @include fieldsetDefault(399px);
    select {
      @include inputDefault(399px);
      color: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: transparent;
      background: url("../images/Vector (1).png") no-repeat;
      appearance: none;
      background-position-x: 95%;
      background-position-y: center;
      option {
        color: rgba(12, 12, 13, 0.5);
      }
    }
  }
}

.credit-programs-section,
.requirements-crediting-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
    line-height: 57px;
  }
}

.requirements-crediting-section {
  .section-title {
    padding-bottom: 60px;
  }
}

.requirements-crediting-section {
  .requirements-content {
    border-top: 1px solid rgba(12, 12, 13, 0.5);
    .title {
      margin-top: 35px;
      @include fontStyle("SF Pro Display", 30px, #0c0c0d, 600);
    }
    .sub-title {
      margin-top: 30px;
      @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
    }
  }
}

.lists-wrapper {
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
  .list-wrapper {
    padding-right: 30px;
    @media screen and (max-width: 768px) {
      padding-right: 0;
    }
  }
}

.requirements-lists {
  .list-title {
    @include fontStyle("SF Pro Display", 20px, #fe8732, bold);
  }
  .list-wrapper {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 30px;
    }
    &:nth-child(n + 3) {
      margin-top: 60px;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
    ul.requirements-list {
      li {
        margin-top: 16px;
        display: flex;
        align-items: center;
        @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
        .circle {
          @include circle();
        }
      }
    }
  }
}

.credit-programs-lists {
  .list-title {
    @include fontStyle("SF Pro Display", 28px, #fe8732, bold);
    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }
  .list-wrapper {
    width: 33%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 40px;
      &.profitable-3,
      &.p-5-plan,
      &.m-24 {
        .requirements-list {
          li:nth-child(1) {
            order: 1;
          }
          li:nth-child(2) {
            order: 3;
          }
          li:nth-child(3) {
            order: 5;
          }
          li:nth-child(4) {
            order: 2;
          }
          li:nth-child(5) {
            order: 4;
          }
        }
      }
      &.t-0-14,
      &.g-10 {
        .requirements-list {
          li:nth-child(1) {
            order: 1;
          }
          li:nth-child(2) {
            order: 3;
          }
          li:nth-child(3) {
            order: 5;
          }
          li:nth-child(4) {
            order: 6;
            width: 100%;
          }
          li:nth-child(5) {
            order: 2;
          }
          li:nth-child(6) {
            order: 4;
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      &.profitable-3,
      &.p-5-plan,
      &.m-24 {
        .requirements-list {
          li:nth-child(1) {
            order: initial;
          }
          li:nth-child(2) {
            order: initial;
          }
          li:nth-child(3) {
            order: initial;
          }
          li:nth-child(4) {
            order: initial;
          }
          li:nth-child(5) {
            order: initial;
          }
        }
      }
      &.t-0-14,
      &.g-10 {
        .requirements-list {
          li:nth-child(1) {
            order: initial;
          }
          li:nth-child(2) {
            order: initial;
          }
          li:nth-child(3) {
            order: initial;
          }
          li:nth-child(4) {
            order: initial;
          }
          li:nth-child(5) {
            order: initial;
          }
          li:nth-child(6) {
            order: initial;
          }
        }
      }
    }
    &.program-description {
      padding-bottom: 50px;
      @include fontStyle("SF Pro Display", 18px, #0c0c0d, normal);
      p:nth-child(n + 2) {
        margin-top: 40px;
      }
    }
    ul.requirements-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      @media screen and (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
      li {
        margin-top: 16px;
        display: flex;
        align-items: center;
        @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
        @media screen and (max-width: 768px) {
          width: 50%;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        &.commision-item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          flex: 1;
          @media screen and (max-width: 768px) {
            justify-content: center;
          }
          .grey-text {
            color: rgba(12, 12, 13, 0.5);
          }
        }
        &:nth-child(1) {
          margin-top: 28px;
        }
        &:nth-child(n + 2) {
          margin-top: 20px;
        }
        .circle {
          @include circle();
        }
      }
    }
  }
}
