@import "./mixin/mixins";

@include subscribeNewsletterSection();

.login-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  padding-top: 180px;
  padding-bottom: 150px;
  @media screen and (max-width: 480px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-title {
    @include fontStyle("SF Pro Display", 82px, #0c0c0d, 600);
    text-align: center;
    @media screen and (max-width: 480px) {
      font-size: 40px;
    }
  }

  .register-navigation {
    margin-top: 30px;
    @include fontStyle("SF Pro Display", 20px, #0c0c0d, normal);
  }
  .login-form {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    fieldset {
      @include fieldsetDefault(256px);
    }
    :nth-child(1) {
      margin-right: 15px;
    }
    :nth-child(2) {
      margin: 0 15px;
    }
    :nth-child(3) {
      margin-left: 15px;
    }
    .input {
      @include inputDefault(256px);
    }
    .bth {
      @include formBthDefault(256px);
    }
    .forgot-password-navigation {
      width: 100%;
      margin-top: 17px;
      text-align: center;
      @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      max-width: 345px;
      fieldset {
        max-width: 345px;
      }
      :nth-child(1) {
        margin-right: 0;
      }
      :nth-child(2) {
        margin: 30px 0 0 0;
      }
      :nth-child(3) {
        margin: 30px 0 0 0;
      }
      .input {
        max-width: 345px;
      }
      .bth {
        max-width: 345px;
        order: 1;
      }
      .forgot-password-navigation {
        text-align: left;
      }
    }
  }
}

.footer {
  padding: 82px 0;
  background: #0c0c0d;
  @media screen and (max-width: 480px) {
    padding: 40px 0;
  }
  .container {
    display: grid;
    grid-template-areas:
      "logo-block catalog-block services-block contacts-block social-networks-block"
      "logo-block catalog-block services-block timetable-block social-networks-block";
    grid-template-columns: 20% 200px 20% 20% 20%;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      grid-template-areas:
        "logo-block catalog-block services-block"
        "contacts-block catalog-block services-block"
        "social-networks-block timetable-block timetable-block";
      grid-template-columns: 40% 25% 35%;
    }
    @media screen and (max-width: 480px) {
      grid-template-areas:
        "logo-block"
        "catalog-block"
        "services-block"
        "contacts-block"
        "timetable-block"
        "social-networks-block";
      grid-template-columns: 100%;
      justify-items: center;
    }
  }
  .logo-block {
    grid-area: logo-block;
    max-width: 200px;
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .catalog-block {
    grid-area: catalog-block;
  }
  .services-block {
    grid-area: services-block;
  }
  .contacts-block {
    grid-area: contacts-block;
  }
  .timetable-block {
    grid-area: timetable-block;
    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }
  .social-networks-block {
    grid-area: social-networks-block;
    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }

  .footer-block {
    padding-right: 10px;
    @media screen and (max-width: 480px) {
      text-align: center;
      padding-right: 0;
      &:nth-child(n + 2) {
        margin-top: 36px;
      }
    }
    .logo-description {
      margin-top: 30px;
      @include fontStyle(
        "SF Pro Display",
        16px,
        rgba(255, 255, 255, 0.3),
        normal
      );
    }
    .title {
      @include fontStyle("SF Pro Display", 18px, #ffffff, 600);
    }
    .footer-list {
      margin-top: 20px;
      .list-item {
        @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
        a {
          @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
        }
        &:nth-child(n + 2) {
          margin-top: 12px;
        }
      }
      &.social-networks-list {
        display: flex;
        .list-item {
          margin-top: 0;
          margin-right: 28px;
        }
      }
    }
  }
}
