@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

@include repairSection();

.b-page-description {
  background-color: #000000;
}
.scroll-content {
  color: #ffffff;
}
.repair-section {
  background: #000000;
  .container {
    .left-block,
    .right-block {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .left-block {
      ::-webkit-scrollbar-thumb {
        background: #ffffff;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
      }
      .scroll-line {
        background: rgba(255, 255, 255, 0.42);
      }
    }
    .info-wrapper {
      .info-item {
        .title {
          color: #ffffff;
        }
        .main-text {
          color: #ffffff;
        }
      }
    }
  }
}

.table-warranty-program-section,
.table-warranty-insurance-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
  }
  .table-wrapper {
    margin-top: 60px;
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px;
      thead {
        th {
          text-align: left;
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, 600);
        }
        th:nth-child(2) {
          text-align: center;
        }
        th:nth-child(3) {
          text-align: right;
        }
      }
      tbody th {
        @include fontStyle("SF Pro Display", 16px, #fe8732, 600);
        @media screen and (max-width: 480px) {
          font-size: 14px;
          font-weight: normal;
        }
      }
      tbody {
        td {
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
        }
        th {
          text-align: left;
        }
        td:nth-child(2) {
          text-align: center;
        }
        td:nth-child(3) {
          text-align: right;
        }
      }
      th,
      td {
        padding: 15px 0;
        border-bottom: 1px solid rgba(12, 12, 13, 0.5);
        word-wrap: break-word;
      }
      &.warranty-insurance-table {
        thead {
          th:nth-child(2) {
            text-align: right;
          }
        }
        tbody {
          td {
            text-align: right;
          }
        }
      }
    }
  }
}

.banner-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.warranty-program-banner {
    background-image: url("../images/img_4229 1.png");
    height: 533px;
    @media screen and (max-width: 480px) {
      height: 247px;
    }
  }
  &.warranty-insurance-banner {
    background-image: url("../images/care-1\ 1.png");
    height: 520px;
    @media screen and (max-width: 480px) {
      height: 292px;
      background-position: 67% 100%;
    }
  }
}
