@import "./mixin/mixins";

@include footerSection();

.news-section {
  background: #ffffff;
  .h2 {
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
    line-height: 53.7px;
  }
}

.news-wrapper {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
  .news-item-wrapper {
    width: 50%;
    &:hover {
      .news-item-img-wapper {
        position: relative;
        img {
          transform: scale(1.15);
        }
      }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      height: 420px;
      .news-item-img-wapper {
        height: 100%;
        img {
          object-fit: cover;
          width: unset;
          height: 420px;
        }
        .news-item-label-wrapper {
          padding: 30px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-height: 487px;
    }
    .news-item-img-wapper {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 1s;
      }
    }
    .news-item-label-wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 52px 60px;
      width: 100%;
      background: rgb(23, 23, 26);
      background: -moz-linear-gradient(
        left,
        rgba(23, 23, 26, 1) 0%,
        rgba(77, 77, 80, 1) 50%,
        rgba(23, 23, 26, 1) 100%
      );
      background: -webkit-linear-gradient(
        left,
        rgba(23, 23, 26, 1) 0%,
        rgba(77, 77, 80, 1) 50%,
        rgba(23, 23, 26, 1) 100%
      );
      background: linear-gradient(
        to right,
        rgba(23, 23, 26, 1) 0%,
        rgba(77, 77, 80, 1) 50%,
        rgba(23, 23, 26, 1) 100%
      );

      @media screen and (max-width: 500px) {
        position: relative;
      }

      @include fontStyle("SF Pro Display", 30px, #ffffff, 600);
      @media screen and (max-width: 600px) {
        padding: 31px 23px;
        font-size: 26px;
      }
      @media screen and (max-width: 370px) {
        position: relative;
      }
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
    @media screen and (max-width: 768px) {
      &:nth-child(n + 2) {
        margin-top: 30px;
      }
    }

    &:nth-child(odd) {
      padding-right: 15px;
      @media screen and (max-width: 768px) {
        padding-right: 0;
      }
    }
    &:nth-child(even) {
      padding-left: 15px;
      @media screen and (max-width: 768px) {
        padding-left: 0;
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 60px;
  .prev {
    margin-right: 24px;
  }
  .next {
    margin-left: 24px;
    img {
      transform: rotate(180deg);
    }
  }
  .line {
    margin: 0 10px;
    width: 120px;
    height: 1px;
    background: rgba(12, 12, 13, 0.5);
  }
  .page-bth {
    @include fontStyle("SF Pro Display", 16px, rgba(12, 12, 13, 0.5), normal);
    line-height: 22px;
    &.active {
      color: black;
      font-weight: bold;
    }
  }
}
