@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

.types-payment-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
  }
}

.delivery-methods-section {
  background: #000000;
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #ffffff, 600);
    line-height: 54px;
  }
}

.methods-wrapper {
  margin-top: 60px;
  @media screen and (max-width: 480px) {
    margin-top: 50px;
  }
  &.payment-methods-wrapper {
    display: flex;
    flex-wrap: wrap;
    .method-item-wrapper {
      width: 47%;
      &:nth-child(1),
      &:nth-child(2) {
        padding-top: 0;
      }
      &:nth-child(odd) {
        margin-right: 15px;
      }
      &:nth-child(even) {
        margin-left: 15px;
      }
      &.additional-description {
        @include fontStyle(
          "SF Pro Display",
          16px,
          rgba(12, 12, 13, 0.5),
          normal
        );
        border-bottom: none;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        &:nth-child(odd) {
          margin-right: 0;
        }
        &:nth-child(even) {
          margin-left: 0;
        }
        &:nth-child(2) {
          padding-top: 40px;
        }
      }
      @media screen and (max-width: 480px) {
        &:nth-child(1) {
          padding-top: 20px;
        }
        &:nth-child(2) {
          padding-top: 20px;
        }
      }
    }
  }
  .method-item-wrapper {
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid rgba(196, 196, 196, 0.81);
    @media screen and (max-width: 480px) {
      padding: 20px 0;
      align-items: flex-start;
    }
    .method-item-img-wapper {
      margin-right: 20px;
      @media screen and (max-width: 480px) {
        margin-top: 15px;
      }
      img {
        min-width: 40px;
      }
    }
    .method-item-description-wapper {
      .method-item-description-title {
        @include fontStyle("SF Pro Display", 24px, #ffffff, 600);
        &.payment-method-item-description-title {
          color: #0c0c0d;
        }
      }
      .method-item-description-text {
        margin-top: 12px;
        @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
        &.payment-method-item-description-text {
          color: #0c0c0d;
        }
      }
    }
  }
}
