@import "./mixin/mixins";

.pop-up-wrapper {
  background: rgba(9, 9, 19, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  .pop-up-content-wrapper {
    width: 100%;
    max-width: 995px;
    margin: 10px 0;
  }
  .pop-up-container {
    padding: 0 50px;
    display: flex;
    @media screen and (max-width: 800px) {
      padding: 0 15px;
    }
  }
  .close-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    img {
      cursor: pointer;
    }
  }
  .pop-up-body {
    background: #ffffff;
    margin-top: 40px;
    padding: 60px 0;
    .title {
      border-bottom: 1px solid rgba(196, 196, 196, 0.75);
      padding-bottom: 40px;
      .pop-up-container {
        align-items: center;
        @media screen and (max-width: 700px) {
          flex-direction: column;
          align-items: flex-start;
        }
        div:first-child {
          @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
        }
        div:last-child {
          margin-left: 30px;
          margin-top: 10px;
          @media screen and (max-width: 700px) {
            margin-left: 0px;
            margin-top: 0px;
          }
          a {
            @include fontStyle("SF Pro Display", 16px, #fe8732, 600);
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .goods {
      margin-top: 40px;
      .pop-up-container {
        span:first-child {
          @include fontStyle("SF Pro Display", 22px, #0c0c0d, 600);
        }
        span:last-child {
          margin-left: 30px;
          @include fontStyle("SF Pro Display", 16px, #fe8732, 600);
        }
      }
    }
    .banks {
      margin-top: 43px;
      .pop-up-container {
        justify-content: space-between;
        .bank-item-wrapper {
          width: 100%;
          max-width: 205px;
        }
        @media screen and (max-width: 970px) {
          flex-wrap: wrap;
          .bank-item-wrapper {
            display: flex;
            margin-bottom: 32px;
            max-width: 170px;
            &.jfe {
              justify-content: flex-end;
            }
          }
          .bank-item {
            max-width: 170px;
          }
        }

        @media screen and (max-width: 767px) {
          .bank-item-wrapper {
            max-width: 156px;
          }
          .bank-item {
            max-width: 156px;
          }
        }
        @media screen and (max-width: 680px) {
          .bank-item-wrapper {
            max-width: 50%;
          }
        }
      }
      .bank-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border: 1px solid #d0d0d0;
        border-radius: 100px;
        width: 100%;
        max-width: 205px;
        cursor: pointer;
        max-height: 50px;
        line-height: 19px;
        &.active {
          border: 1px solid #fe8732;
        }
        .bank-name {
          margin-left: 8px;
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, 600);
        }
      }
    }

    .duration {
      margin-top: 20px;
      @media screen and (max-width: 700px) {
        margin-top: 10px;
      }
      .pop-up-container {
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
      }
      .b-custom-checkbox {
        border: 1px solid #0c0c0d;
        min-width: 205px;
        @media screen and (max-width: 700px) {
          min-width: 100%;
          margin-top: 32px;
        }
        &:not(:last-child) {
          margin-right: 12px;
        }
        input {
          width: 20px;
          height: 20px;
        }
        .duration-description {
          margin-left: 10px;
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, 600);
        }
      }
    }
    .duration-slider-wrapper {
      margin-top: 50px;
      // /*Chrome*/
      // input[type="range"] {
      //   overflow: hidden;
      //   // width: 80px;
      //   -webkit-appearance: none;
      //   background-color: #c4c4c4;
      // }

      // input[type="range"]::-webkit-slider-runnable-track {
      //   height: 16px;
      //   -webkit-appearance: none;
      //   color: #fe8732;
      //   margin-top: -1px;
      // }

      // input[type="range"]::-webkit-slider-thumb {
      //   width: 16px;
      //   -webkit-appearance: none;
      //   height: 16px;
      //   cursor: ew-resize;
      //   border: 2px solid #fe8732;
      //   background: #ffffff;
      //   border-radius: 50%;
      //   box-shadow: -80px 0 0 80px #fe8732;
      // }

      // /** FF*/
      // input[type="range"]::-moz-range-progress {
      //   background-color: #fe8732;
      // }
      // input[type="range"]::-moz-range-track {
      //   background-color: #c4c4c4;
      // }
      // /* IE*/
      // input[type="range"]::-ms-fill-lower {
      //   background-color: #fe8732;
      // }
      // input[type="range"]::-ms-fill-upper {
      //   background-color: #c4c4c4;
      // }
    }

    .credit-info {
      margin-top: 50px;
      .pop-up-container {
        justify-content: space-between;
        width: 100%;
      }
      .credit-info-item {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:first-child {
          border-top: 1px solid rgba(196, 196, 196, 0.75);
          border-bottom: 1px solid rgba(196, 196, 196, 0.75);
        }
        &:nth-child(n + 2) {
          border-bottom: 1px solid rgba(196, 196, 196, 0.75);
        }
        .label {
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, 600);
        }
        .value {
          @include fontStyle("SF Pro Display", 16px, #fe8732, 600);
        }
      }
    }
    .additional-info {
      margin-top: 32px;
      .text {
        padding: 16px 29px;
        background: #d6e9d8;
        border-radius: 3px;
        @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
      }
    }
    .actions-wrapper {
      margin-top: 50px;
      @media screen and (max-width: 700px) {
        margin-top: 10px;
      }
      .pop-up-container {
        justify-content: space-between;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
        .bth-wrapper {
          @include fieldsetDefault(266px);
          @media screen and (max-width: 700px) {
            max-width: 100%;
          }
          .bth {
            width: 100%;
            max-width: 266px;
            border: 1px solid #fe8732;
            border-radius: 0;
            // @include formBthDefault(266px);
            // &.bth-continue {
            //   color: #fe8732;
            //   background: #ffffff;
            // }
            @media screen and (max-width: 700px) {
              max-width: 100%;
              margin-top: 30px;
            }
          }
          .bth-continue {
            background: #ffffff;
            &:hover {
              background: #fe8732;
            }
          }
        }
      }
    }
  }
}

/*
Range slider
*/
$primary: #FE8732;
$secondary: #C4C4C4;
$roundness: 5px;

$sliderHeight: 3px;
$handleSize: 16px;
$valueWidth: 90px;
$labelMarkerHeight: 12px;

.rangeslider--horizontal {
  .rangeslider__fill {
    height: $sliderHeight;
    top: -1.5px;
  }
}

.rangeslider {
  position: relative;
  border-radius: $roundness;
  width: 100%;
  background-color: $secondary;
  height: 1px;

  &__handle {
    transition: background-color .2s;
    box-sizing: border-box;
    width: $handleSize;
    height: $handleSize;
    border-radius: 100%;
    background-color: white;
    touch-action: pan-y;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;
    top: -($handleSize/2) + ($sliderHeight/2) - 0.5 !important;
    border: 2px solid $primary;

    &:after {
      content: none;
    }
  }

  &__fill {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: $primary;
    border-radius: $roundness;
  }

  &__labels {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    &__label {
      font-size: 0.875rem;
      position: relative;
      padding-top: 15px;
      width: 14px;
      font-weight: 400;
      color: #0C0C0D;
      display: flex;
      justify-content: center;

      &:first-child:before,
      &:last-child:before{
        height: $labelMarkerHeight;
        width: 2px;
      }
    }
  }

  // active state
  &.rangeslider--active {
    .rangeslider__handle {
      &, *      { background-color: lighten($primary, 10%) }
      *:before  { border-top-color: lighten($primary, 10%) }
    }

    .rangeslider__handle__value {
      transform: translateY(-5px);
      box-shadow: 0 -3px 2px rgba(black, .04),
                  0 -9px 25px rgba(black, .15);
    }
  }
}

/*
End Range slider
*/