@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

.profile-section {
  padding: 0;
}
.tabs-header-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/Rectangle 6.png");
  min-height: 462px;
  .tab-content {
    padding: 100px 0;
    .section-title {
      @include fontStyle("SF Pro Display", 82px, #ffffff, 600);
      text-align: center;
      @media screen and (max-width: 480px) {
        font-size: 52px;
      }
    }
  }
}

#profile-tabs-wrapper {
  padding-top: 75px;
  @media screen and (max-width: 480px) {
    padding-top: 60px;
  }
  .tab-bths-list {
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    .profile-tab-bth {
      flex: 1;
      text-align: center;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
      @media screen and (max-width: 480px) {
        width: max-content;
        display: inline-block;
        margin: auto;
        &:nth-child(n + 2) {
          margin: 25px auto 0 auto;
        }
      }
      a {
        cursor: pointer;
        padding-bottom: 30px;
        display: block;
        height: 100%;
        @include fontStyle("SF Pro Display", 40px, #ffffff, 600);
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
        &:nth-child(1) {
          padding-right: 10px;
        }
        &:nth-child(2) {
          padding: 0 10px;
        }
        &:nth-child(3) {
          padding-left: 10px;
        }
        @media screen and (max-width: 480px) {
          padding-bottom: 12px;
          &:nth-child(1) {
            padding-right: 0;
          }
          &:nth-child(2) {
            padding: 0 0;
          }
          &:nth-child(3) {
            padding-left: 0;
          }
        }
      }
      &.tab-active {
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}

.orders-section,
.profile-info-section,
.bonus-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  @media screen and (max-width: 480px) {
    padding-top: 60px;
  }
}

.profile-info-section {
  .info-wrapper {
    width: 100%;
    max-width: 820px;
    margin: auto;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
    .info-item {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 25px 0;
      border-bottom: 1px solid rgba(12, 12, 13, 0.5);
      .label {
        @include fontStyle("SF Pro Display", 16px, #fe8732, 600);
      }
      .value {
        @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
      }
    }
  }
  .bth-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @media screen and (max-width: 480px) {
      margin-top: 40px;
    }
    .bth {
      @include formBthDefault(400px);
      @media screen and (max-width: 480px) {
        max-width: 100%;
      }
    }
  }
}

.bonus-section {
  .section-title {
    text-align: center;
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
  }
  .bonus-sum {
    @include fontStyle("SF Pro Display", 64px, #fe8732, 600);
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: center;
  }
  .info-block {
    border-top: 1px solid rgba(12, 12, 13, 0.5);
    .description {
      margin-top: 40px;
      text-align: center;
      @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
    }
  }
}

.orders-section {
  .orders-list {
    .order-item {
      padding: 40px 0;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }
      }
      &:first-child {
        border-bottom: 1px solid rgba(12, 12, 13, 0.5);
        border-top: 1px solid rgba(12, 12, 13, 0.5);
      }
      &:nth-child(n + 2) {
        border-bottom: 1px solid rgba(12, 12, 13, 0.5);
      }
      .order-id {
        @include fontStyle("SF Pro Display", 16px, #2939c5, normal);
        padding-right: 10px;
        @media screen and (max-width: 480px) {
          width: 50%;
        }
      }
      .order-state {
        width: 100%;
        max-width: 113px;
        text-align: center;
        padding: 7px 16px;
        background: #72d450;
        border-radius: 5px;
        @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
        @media screen and (max-width: 768px) {
          width: 50%;
        }
      }
      .order-devices {
        width: 35%;
        padding: 0 10px;
        @media screen and (max-width: 768px) {
          padding-right: 0;
          text-align: right;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
          padding: 0 0;
          text-align: left;
          margin-top: 43px;
        }
        .order-device {
          @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
          &:nth-child(n + 2) {
            margin-top: 16px;
          }
        }
      }

      .order-description {
        width: 35%;
        padding: 0 10px;
        @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
        @media screen and (max-width: 768px) {
          width: 70%;
          margin-top: 30px;
          padding-left: 0;
        }
        @media screen and (max-width: 480px) {
          width: 70%;
          margin-top: 43px;
        }
      }
      .order-date {
        @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
        @media screen and (max-width: 768px) {
          width: 30%;
          margin-top: 30px;
          text-align: right;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
          text-align: left;
          margin-top: 43px;
        }
      }
    }
  }
}

.edit-profile-form {
  display: flex;
  flex-wrap: wrap;
  .left-block,
  .right-block {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  fieldset {
    &:nth-child(n + 2) {
      margin-top: 30px;
    }
  }
  .fieldset-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 480px) {
      align-items: flex-start;
      flex-direction: column;
    }
    label {
      @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
    }
  }
  .left-block {
    padding-right: 15px;
    @media screen and (max-width: 768px) {
      padding-right: 0;
    }
    label {
      cursor: pointer;
      white-space: nowrap;
      min-width: 120px;
      padding-right: 10px;
      @media screen and (max-width: 768px) {
        white-space: initial;
      }
    }
    input {
      @include inputDefault(542px);
      @media screen and (max-width: 480px) {
        max-width: 100%;
        margin-top: 16px;
      }
    }
  }
  .right-block {
    padding-left: 15px;
    @media screen and (max-width: 768px) {
      padding-left: 0;
      margin-top: 30px;
    }
    fieldset:first-child label {
      span:nth-child(2) {
        cursor: pointer;
        padding-left: 35px;
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
        span {
          display: block;
          &:last-child {
            margin-top: 30px;
            padding-left: 0;
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      min-width: 200px;
      padding-right: 10px;
      span {
        display: block;
      }
      span:nth-child(2) {
        cursor: pointer;
        padding-left: 80px;
        @media screen and (max-width: 480px) {
          padding-left: 0;
        }
      }
    }
    input,
    select {
      @include inputDefault(369px);
      @media screen and (max-width: 768px) {
        max-width: 396px;
      }
      @media screen and (max-width: 480px) {
        max-width: 100%;
        margin-top: 16px;
      }
    }
    select {
      @include selectArrowDefault();
    }
  }
  .bths-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .bth-wrapper {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      &.save-bth-wrapper {
        padding-right: 15px;
        @media screen and (max-width: 768px) {
          padding-right: 0;
        }
      }
      &.cancel-bth-wrapper {
        padding-left: 15px;
        @media screen and (max-width: 768px) {
          padding-left: 0;
          margin-top: 30px;
        }
      }
      .bth {
        max-width: 100%;
        &.cancel-bth {
          background: #ffffff;
          color: #fe8732;
        }
      }
    }
  }
}

// select::-ms-expand {
//   display: none;
// }
