@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

.registration-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  padding-top: 180px;
  padding-bottom: 150px;
  @media screen and (max-width: 480px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-title {
    @include fontStyle("SF Pro Display", 82px, #0c0c0d, 600);
    @media screen and (max-width: 480px) {
      font-size: 42px;
    }
  }

  .login-form {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    fieldset,
    .bth-wrapper {
      width: 48%;
    }
    :nth-child(odd) {
      text-align: right;
      padding-right: 15px;
    }
    :nth-child(even) {
      padding-left: 15px;
    }
    :nth-child(n + 3) {
      margin-top: 30px;
    }
    .input {
      text-align: left;
      @include inputDefault(400px);
    }
    .bth {
      text-align: center;
      width: 100%;
      max-width: 400px;
      border: 1px solid #fe8732;
      border-radius: 0;
      height: 100%;
      // @include formBthDefault(400px);
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      max-width: 345px;
      fieldset,
      .bth-wrapper {
        width: 100%;
      }
      :nth-child(odd) {
        padding-right: 0;
      }
      :nth-child(even) {
        padding-left: 0;
      }
      :nth-child(n + 2) {
        margin-top: 30px;
      }
      .input {
        max-width: 345px;
      }
      .bth {
        max-width: 345px;
      }
    }
  }
}
