@import "./mixin/mixins";

@include subscribeNewsletterSection();

@include footerSection();

.shops-section {
  background: #ffffff;
  backdrop-filter: blur(200px);
  .section-title {
    @include fontStyle("SF Pro Display", 45px, #0c0c0d, 600);
  }
  .shops-wrapper {
    margin-top: 60px;
    @media screen and (max-width: 650px) {
      margin-top: 50px;
    }
    .shop-item-wrapper {
      padding-bottom: 50px;
      border-bottom: 1px solid #c4c4c4;
      &:nth-child(2n + 2) {
        padding: 50px 0;
      }
      .container {
        display: flex;
        @media screen and (max-width: 650px) {
          flex-wrap: wrap;
        }
        .left-block {
          width: 100%;
          max-width: 400px;
          @media screen and (max-width: 768px) {
            max-width: 50%;
          }
          @media screen and (max-width: 650px) {
            max-width: 100%;
            img {
              width: 100%;
            }
          }
        }
        .right-block {
          margin-left: 30px;
          @media screen and (max-width: 768px) {
            width: 50%;
          }
          @media screen and (max-width: 650px) {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
          }
          .shop-info-wrapper {
            display: flex;
            flex-wrap: wrap;
            .shop-adress {
              a {
                @include fontStyle("SF Pro Display", 30px, #0c0c0d, 600);
              }
              width: 100%;

              @media screen and (max-width: 768px) {
                order: 1;
              }
            }
            .shop-feedbacks,
            .shop-phones {
              width: 50%;
              @media screen and (max-width: 768px) {
                width: 100%;
              }
            }
            .shop-feedbacks {
              margin-top: 25px;
              display: flex;
              align-items: center;
              @media screen and (max-width: 768px) {
                order: 2;
              }
              .stars-wrapper {
                display: flex;
              }
              .description {
                margin-left: 10px;
                @media screen and (max-width: 768px) {
                  margin-left: 25px;
                }
                .text {
                  margin-top: 5px;
                  @include fontStyle(
                    "SF Pro Display",
                    16px,
                    rgba(3, 9, 20, 0.5),
                    normal
                  );
                }
              }
            }
            .shop-phones {
              margin-top: 25px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              @media screen and (max-width: 768px) {
                // display: flex;
                flex-direction: row;
                order: 5;
              }
              .shop-phone-item-wrapper {
                @include fontStyle("SF Pro Display", 16px, #fe8732, 600);
              }
            }
            .shop-adress-description {
              width: 100%;
              margin-top: 25px;
              @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
              @media screen and (max-width: 768px) {
                order: 3;
              }
            }
            .shop-time-table {
              width: 100%;
              margin-top: 22px;
              @include fontStyle("SF Pro Display", 16px, #0c0c0d, bold);
              @media screen and (max-width: 768px) {
                order: 4;
              }
            }
          }
        }
      }
    }
  }
}
