.shops-section {
  background: #ffffff;
  backdrop-filter: blur(200px); }
  .shops-section .section-title {
    font-family: "SF Pro Display";
    font-size: 45px;
    color: #0c0c0d;
    font-weight: 600; }
  .shops-section .shops-wrapper {
    margin-top: 60px; }
    .shops-section .shops-wrapper .shop-item-wrapper {
      padding-bottom: 50px;
      border-bottom: 1px solid #c4c4c4; }
      .shops-section .shops-wrapper .shop-item-wrapper:nth-child(2n + 2) {
        padding: 50px 0; }
      .shops-section .shops-wrapper .shop-item-wrapper .container {
        display: flex; }
        .shops-section .shops-wrapper .shop-item-wrapper .container .left-block {
          width: 100%;
          max-width: 400px; }
        .shops-section .shops-wrapper .shop-item-wrapper .container .right-block {
          margin-left: 30px; }
          .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper {
            display: flex;
            flex-wrap: wrap; }
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-adress {
              width: 100%;
              font-family: "SF Pro Display";
              font-size: 30px;
              color: #0c0c0d;
              font-weight: 600; }
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-feedbacks,
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-phones {
              width: 50%; }
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-feedbacks {
              margin-top: 25px;
              display: flex;
              align-items: center; }
              .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-feedbacks .stars-wrapper {
                display: flex; }
              .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-feedbacks .description {
                margin-left: 10px; }
                .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-feedbacks .description .text {
                  margin-top: 5px;
                  font-family: "SF Pro Display";
                  font-size: 16px;
                  color: rgba(3, 9, 20, 0.5);
                  font-weight: normal; }
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-phones {
              margin-top: 25px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end; }
              .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-phones .shop-phone-item-wrapper {
                font-family: "SF Pro Display";
                font-size: 16px;
                color: #fe8732;
                font-weight: 600; }
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-adress-description {
              width: 100%;
              margin-top: 25px;
              font-family: "SF Pro Display";
              font-size: 16px;
              color: #0c0c0d;
              font-weight: normal; }
            .shops-section .shops-wrapper .shop-item-wrapper .container .right-block .shop-info-wrapper .shop-time-table {
              width: 100%;
              margin-top: 22px;
              font-family: "SF Pro Display";
              font-size: 16px;
              color: #0c0c0d;
              font-weight: bold; }

/*# sourceMappingURL=shops.css.map */
