$maxWidth: 768px;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin fontStyle($family, $size, $color, $weight) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin blockScrollBar() {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    width: 1px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666666;
  }
}

@mixin fakeScrollBarLine() {
  position: absolute;
  top: 0;
  left: 3.4px;
  width: 1px;
  background: rgba(0, 0, 0, 0.42);
  height: 100%;
}

@mixin fieldsetDefault($maxWidth) {
  width: 100%;
  max-width: $maxWidth;
}

@mixin inputDefault($maxWidth) {
  width: 100%;
  max-width: $maxWidth;
  padding: 18px;
  border: 1px solid rgba(12, 12, 13, 0.5);
  cursor: pointer;
  @include fontStyle("SF Pro Display", 16px, rgba(12, 12, 13, 0.5), normal);
}

@mixin formBthDefault($maxWidth) {
  width: 100%;
  max-width: $maxWidth;
  padding: 18px;
  border: 1px solid #fe8732;
  background: #fe8732;
  cursor: pointer;
  @include fontStyle("SF Pro Display", 16px, #ffffff, 600);
}

@mixin selectArrowDefault() {
  appearance: none;
  background: url("../images/arrow.png") no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

@mixin subscribeNewsletterSection() {
  .subscribe-newsletter-section {
    background: #000000;
    position: relative;
    @media screen and (max-width: 768px) {
      padding-bottom: 0;
    }
    .mask-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .iPhone-img-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 3;
      @media screen and (max-width: 768px) {
        position: relative;
        display: flex;
        justify-content: flex-end;
      }
    }
    .section-title {
      @include fontStyle("SF Pro Display", 45px, #ffffff, 600);
      @media screen and (max-width: 480px) {
        font-size: 36px;
      }
    }
    .section-sub-title {
      margin-top: 60px;
      @include fontStyle("SF Pro Display", 20px, #ffffff, 600);
      @media screen and (max-width: 480px) {
        margin-top: 30px;
        font-size: 18px;
      }
    }
    .container {
      z-index: 4;
      position: relative;
    }
    .input-wrapper {
      margin-top: 40px;
      display: flex;
      @media screen and (max-width: 480px) {
        flex-wrap: wrap;
      }
      input {
        padding: 19px 30px;
        border: 1px solid #ffffff;
        background: none;
        @include fontStyle("SF Pro Display", 17px, #ffffff, 600);
        width: 100%;
        max-width: 500px;
        outline: none;
        min-height: 60px;
        @media screen and (max-width: 768px) {
          max-width: 50%;
        }
        @media screen and (max-width: 480px) {
          max-width: 100%;
        }
      }
      button {
        right: 1px;
        position: relative;
        min-height: 60px;
        @include formBthDefault(356px);
        @media screen and (max-width: 768px) {
          max-width: 50%;
        }
        @media screen and (max-width: 480px) {
          max-width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}

@mixin footerSection() {
  .footer {
    padding: 82px 0;
    background: #0c0c0d;
    @media screen and (max-width: 480px) {
      padding: 40px 0;
    }
    .container {
      display: grid;
      grid-template-areas:
        "logo-block catalog-block services-block contacts-block social-networks-block"
        "logo-block catalog-block services-block timetable-block social-networks-block";
      grid-template-columns: 20% 15% 20% 20% 20%;
      grid-template-rows: max-content max-content max-content max-content max-content max-content;
      // height: max-content;
      align-items: flex-start;
      @media screen and (max-width: 768px) {
        grid-template-areas:
          "logo-block catalog-block services-block"
          "contacts-block catalog-block services-block"
          "social-networks-block timetable-block timetable-block";
        grid-template-columns: 40% 25% 35%;
      }
      @media screen and (max-width: 480px) {
        grid-template-areas:
          "logo-block"
          "catalog-block"
          "services-block"
          "contacts-block"
          "timetable-block"
          "social-networks-block";
        grid-template-columns: 100%;
        justify-items: center;
      }
    }
    .logo-block {
      grid-area: logo-block;
      max-width: 200px;
      @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-description {
          display: none;
        }
      }
    }
    .catalog-block {
      grid-area: catalog-block;
    }
    .services-block {
      grid-area: services-block;
    }
    .contacts-block {
      grid-area: contacts-block;
    }
    .timetable-block {
      grid-area: timetable-block;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
    .social-networks-block {
      grid-area: social-networks-block;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
      .logo-description {
        display: none;
      }
      @media screen and (max-width: 480px) {
        .logo-description {
          display: block;
          max-width: 200px;
        }
      }
    }

    .footer-block {
      padding-right: 10px;
      @media screen and (max-width: 480px) {
        text-align: center;
        padding-right: 0;
        &:nth-child(n + 2) {
          margin-top: 30px;
        }
        &:nth-child(n + 3) {
          margin-top: 36px;
        }
      }
      .title {
        @include fontStyle("SF Pro Display", 18px, #ffffff, 600);
      }
      .logo-description {
        margin-top: 30px;
        @include fontStyle(
          "SF Pro Display",
          16px,
          rgba(255, 255, 255, 0.3),
          normal
        );
      }
      .footer-list {
        margin-top: 20px;
        .list-item {
          @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
          a {
            @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
          }
          &:nth-child(n + 2) {
            margin-top: 12px;
          }
        }
        &.social-networks-list {
          display: flex;
          @media screen and (max-width: 480px) {
            max-width: 140px;
            justify-content: space-between;
            margin: 30px auto;
          }
          .list-item {
            margin-top: 0;
            margin-right: 28px;
            min-width: 25px;
            @media screen and (max-width: 480px) {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}

@mixin repairSection() {
  .repair-section {
    background: #ffffff;
    backdrop-filter: blur(200px);
    .container {
      display: flex;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }
      .left-block,
      .right-block {
        width: 50%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
      .left-block {
        max-height: 390px;
        position: relative;
        @include blockScrollBar();
        @media screen and (max-width: 768px) {
          order: 1;
          margin-top: 45px;
        }
        .scroll-line {
          @include fakeScrollBarLine();
        }
      }
      .right-block {
        img {
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .info-wrapper {
        overflow: auto;
        direction: rtl;
        max-height: 390px;
        position: relative;
        padding-right: 30px;
        padding-left: 43px;
        @media screen and (max-width: 768px) {
          padding-right: 0;
          max-height: 349px;
        }
        @media screen and (max-width: 480px) {
          padding-left: 10px;
        }
        .info-item {
          &:nth-child(n + 2) {
            margin-top: 50px;
          }
          .title {
            text-align: left;
            @include fontStyle("SF Pro Display", 24px, #0c0c0d, 600);
          }
          .main-text {
            text-align: left;
            margin-top: 30px;
            @include fontStyle("SF Pro Display", 16px, #0c0c0d, normal);
          }
        }
      }
    }
  }
}

@mixin questionSection() {
  .questions-section {
    background: #000000;
    .question-item {
      padding: 45px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.38);
      @media screen and (max-width: 768px) {
        padding: 35px 0;
      }
      &:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.38);
      }
      .question-header {
        display: flex;
        justify-content: space-between;
        .question {
          @include fontStyle("SF Pro Display", 30px, #ffffff, bold);
          padding-right: 5px;
          @media screen and (max-width: 480px) {
            font-size: 25px;
          }
        }
        .plus-icon-wrapper {
          cursor: pointer;
          min-width: 26px;
        }
      }
      .answer {
        @include fontStyle("SF Pro Display", 16px, #ffffff, normal);
        max-height: 0;
        transition: all 0.2s ease;
        overflow: hidden;
        &.open {
          margin-top: 20px;
          max-height: 1000px;
          transition: all 0.7s ease;
        }
      }
    }
  }
}
